/* for smaller device  */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size:16px;
    /* background-color: black; */
    /* color: rgb(143, 141, 141); */
    /* font-family: 'Creepster', cursive; */
    /* font-family: 'Shadows Into Light', cursive; */
    font-family: 'Special Elite', cursive;
}

.container{
    display: grid;
    grid-template-rows: 1fr 6fr 0.5fr;
    background-image: url("images/bg_horror.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.top{
background-color: rgba(240, 248, 255, 0.178);
padding: 15px;
display: grid;
grid-template-columns: 1fr 300px;
align-items:center;
}
.top > .img-logo{
    width: 50px;
    /* background-color:aqua; */
}
.nav-bar>a{
    /* background-color: aqua; */
color: white;
font-size: 1.1em;
padding: 10px;
margin-left: 4px;
text-decoration: none;

}
.nav-bar>a:hover{
    border:1px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgba(0, 255, 255, 0.568);
}


.mid{ 
    /* background-color: rgba(0, 136, 254, 0.39); */
    padding: 5rem;
    text-align: center;
    
}
.title{
   color: red;
   margin-bottom: 2rem;
   font-size: 2em;

}
.content{
   color: white;
   margin-bottom: 5rem;
   letter-spacing: 2px;
   line-height: 2rem;
   font-size: 1em;

}

.links>a{
    color: white;
    font-size: 2em;
    padding: 1rem;
    margin: 1px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(0, 255, 255, 0.568);
}
.links>a:hover{
    box-shadow: 1px 1px 25px rgb(0, 255, 255);
}
.footer{
    background-color: rgba(9, 89, 159, 0.447);
    display: flex;
    align-items: center;
}
.social-links{
display: flex;
justify-content: space-evenly;
margin-left: auto;
margin-right: 0;
   
}
.social-links>a{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    padding: 5px;
    margin-right:15px;

    
}
.social-links>a:hover{
    box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.568);
    border-radius: 5px;
}

  
@media screen and (max-width: 576px) {
    /* CSS rules for small mobile devices */
           
.container{
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    grid-template-rows: 200px 2fr 60px;
     background-image: url("images/potrait_bg.jpg");
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;  */
    
}
.top{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* background-color: aqua; */
    
}
.top>.img-logo{
    margin-left:auto;
    margin-right: auto;
}
.nav-bar{
    display: grid;
    
}
.nav-bar>a{
    /* background-color: aqua; */
/* color: white; */
font-size: 1rem;
padding: 10px;
margin-left: 4px;
text-align: center;
/* text-decoration: none; */

}

.mid{ 
    /* background-color: rgba(0, 136, 254, 0.39); */
    padding: 4rem;
    /* text-align: center; */
    
}
.title{
   /* color: red; */
   margin-bottom: 3rem;
   font-size: 1rem;

}
.content{
   margin-bottom: 4rem;
   letter-spacing: 2px;
   line-height: 2rem;
   font-size: 0.8em;

}

.links>a{
    /* color: white; */
    font-size: 1em;
    padding: 1rem;
    /* margin: 1px; */
    /* text-decoration: none; */
    /* border: 1px solid white; */
    /* border-radius: 10px; */
    /* box-shadow: 1px 1px 15px rgba(0, 255, 255, 0.568); */
}

.social-links>a{

    font-size: 1.2rem;
    padding: 5px;
    margin-right:10px;

    
}
.footer{
    background-color: rgba(19, 19, 192, 0.297);
}
  }
  
@media screen and (min-width: 577px) and (max-width: 992px) {
    /* CSS rules for medium-sized devices */
       
.container{
    /* display: grid; */
    grid-template-rows: 80px 1fr 60px;
    background-image: url("images/potrait_bg.jpg");
    /* background-image: url('/images/bg_horror.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    
}

.nav-bar>a{
    /* background-color: aqua; */
/* color: white; */
font-size: 1rem;
padding: 10px;
margin-left: 4px;
/* text-decoration: none; */

}

.mid{ 
    /* background-color: rgba(0, 136, 254, 0.39); */
    padding: 5rem;
    /* text-align: center; */
    
}
.title{
   /* color: red; */
   margin-bottom: 5rem;
   font-size: 1rem;

}
.content{
   margin-bottom: 4rem;
   letter-spacing: 2px;
   line-height: 2rem;
   font-size: 1em;

}

.links>a{
    /* color: white; */
    font-size: 1em;
    padding: 1rem;
    /* margin: 1px; */
    /* text-decoration: none; */
    /* border: 1px solid white; */
    /* border-radius: 10px; */
    /* box-shadow: 1px 1px 15px rgba(0, 255, 255, 0.568); */
}

.social-links>a{

    font-size: 1rem;
    padding: 5px;
    margin-right:10px;

    
}

}
  
@media screen and (min-width: 993px){
    /* CSS rules for large devices */
    
.container{
    display: grid;
    grid-template-rows: 100px 2fr 60px;
    background-image: url("images/bg_horror.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.top{
background-color: rgba(240, 248, 255, 0.178);
padding: 15px;
display: grid;
grid-template-columns: 1fr 300px;
align-items:center;
}
.top > .img-logo{
    width: 50px;
    /* background-color:aqua; */
}

.nav-bar>a{
    /* background-color: aqua; */
color: white;
font-size: 1.1em;
padding: 10px;
margin-left: 4px;
text-decoration: none;

}
.nav-bar>a:hover{
    border:1px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgba(0, 255, 255, 0.568);
}


.mid{ 
    /* background-color: rgba(0, 136, 254, 0.39); */
    padding: 5rem;
    text-align: center;
    
}
.title{
   color: red;
   margin-bottom: 5rem;
   font-size: 1.5em;

}
.content{
   color: white;
   margin-bottom: 5rem;
   letter-spacing: 2px;
   line-height: 2rem;
   font-size: 1em;

}

.links>a{
    color: white;
    font-size: 1.3em;
    padding: 1rem;
    margin: 1px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(0, 255, 255, 0.568);
}
.links>a:hover{
    box-shadow: 1px 1px 25px rgb(0, 255, 255);
}
.footer{
    background-color: rgba(9, 89, 159, 0.447);
    display: flex;
    align-items: center;
}
.social-links{
display: flex;
justify-content: space-evenly;
margin-left: auto;
margin-right: 0;
   
}
.social-links>a{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    padding: 5px;
    margin-right:15px;

    
}
.social-links>a:hover{
    box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.568);
    border-radius: 5px;
}
}
@media screen and (min-width:1320px){
    .container{
        grid-template-rows: 1fr 5fr 60px;
    }
}
